:root {
  --cor-fundo: rgb(0, 0, 0);
  --cor-texto: #fcfcfc;
  --text-color: #000000;
  --text-color2: #9C9A9A;
  --bg-color: #CCCCCC;
  --main-color: #427BED;
  --second-color: #FFFFFF;
  --other-color: #868686;
  --icon-color: #7f71eb;
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
  --big-font: 5.5rem;
  --p-font: 1.2rem;
  }
  
  body {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Righteous', cursive;
  margin-top: 140px;
  margin-left: -0px;
  margin-right: 0px;
  padding: 0px 0px 0px 0px
  }
/* inicio header */
  header {
  max-width: 100%;
  height: auto;
  padding: 0px;
  margin: -30px;
  list-style: none;
  }
/* logo */
  .header-Logo {
  position: absolute;
  top: 7%;
  left: 5%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border-radius: 800px;
  }
/* logo fim */
/* bola de basquete flutuando */
  .header-bola {
  position: absolute;
  top: 6.5%;
  left: 51%;
  transform: translate(-50%, -50%);
  }
  /* bola fim */

  header a {
  overflow: clip;
  }
  /* fim header */
/* inicio botão menu */
 

  .mainmenubtn {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 242, 242);
  border: none;
  cursor: pointer;
  padding:14px;
  margin-top:20px;
  }

  .mainmenubtn:hover {
  background-color: rgb(255, 255, 255);
  }

  .dropdown {
  position: relative;
  display: inline-block;
  position: absolute;
  top: 1%;
  left: 95%;
  }

  .dropdown-child {
  display: none;
  background-color: rgb(255, 255, 255);
  min-width: 200px;
  margin-left: -100px;
  }

  .dropdown-child a {
  color: rgb(0, 0, 0);
  padding: 20px;
  text-decoration: none;
  display: block;
  }

  .dropdown:hover .dropdown-child {
  display: block;
  }
  /* fim botão menu */

  /* inicio main( conteudo principal do site) */
  main {
  background-color: var(--cor-fundo);
  width: 100%;
  border: #ffffff;
  padding: left -90px;
  }
  /* fim do main */

  /* inicio navelist */
  .navilistd {
  /*nav-direita*/
  position: absolute;
  top: -10%;
  left: 79%;
  transform: translate(-50%, -50%);
  display: flex;
  }

  .navilistd a {
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 600;
  margin: 0 26px 130px;
  text-decoration: none;
  }

  .naviliste {
    /*nav-esquerda*/
    position: absolute;
    top: -11%;
    left: 26.5%;
    transform: translate(-50%, -50%);
    display: flex;

    }

  .naviliste a {
  font-size: 22px;
  color: var(--text-color);
  font-weight: 600;
  margin: 0 30px 130px;
  text-decoration: none;
 
  }


  h1{
color: white;


  }

  .box {
  border-radius: 1%;
  padding-top: 380px;
  transition: all ease .55s;
  transition: all ease .2s;
  }

  .box img {
  transform: translateY(-5px) scale(1.1);
  transform: rotateX('10');
  }

  .box:hover {
    transition: all 0.5s;
    cursor: pointer;  
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  color: #000000;
  }

  

  
/* fim nav */

  .container {
  background-color: #fcfcfc;
  color: var(--cor-fundo);
  }
/* inicio slides */
  .slider {
  margin: 0 auto;
  background-color: white;
  width: 1519px;
  height: 600px;
  overflow: hidden;
  padding-bottom: 30px;
  }

  .slides {
  width: 400%;
  height: 400px;
  display: flex;
  }
  
  .slides input {
  display: none;
  }

  .slide {
  width: 25%;
  position: relative;
  transition: 2s;
  }
/* fim dos slides  */
/* começo dos botões de navegação dos slides */
  .manual-navigation {
  position: absolute;
  width: 400px;
  margin-top: -390px;
  display: flex;
  justify-content: center;
  }

  .manual-btn {
  border: 3.5px solid #3a3838;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  box-shadow: white 40px;
  filter: blur(1px);
  }

  .manual-btn:not(:last-child) {
  margin-right: 20px;
  }

  .manual-btn:hover {
  background-color: #fcfbfd;
  box-shadow: white 40px;
  filter: blur(1px);
  }

  #radio1:checked~.first {
  margin-left: 0;
  }

  #radio2:checked~.first {
  margin-left: -250%;
  }

  #radio3:checked~.first {
  margin-left: -800%;
  }

  #radio4:checked~.first {
  margin-left: -75%;
  }
  /* fim dos botões de navegação dos slides */
  /* separador de conteudo */
  .separador{
  background-color: #FFFFFF;
  color: var(--text-color);
  margin-top: 10px;
  padding-top: 120px;
  padding-bottom: 9px;
    
  }

.loja{
  color: white;
  animation: neon 3s infinite;
margin-top: 60px;
margin-bottom: 3px;
background: rgb(7, 7, 7);
color: white;

}

@keyframes neon {
  0% {
    text-shadow: -2px -2px 2px var(--shadow-color-light), -2px 2px 2px var(--shadow-color-light), 3px -3px 3px var(--shadow-color-light), 3px 3px 3px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 10px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 30px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  
}

html{

  scroll-behavior: smooth;

}


  /* fim do separador de conteudo */


.card-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  background-color: black;
  margin-bottom: 100px;
}

.card {
padding-bottom: 10px;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 2.2rem;
  color: white;

}



.card p {
  font-size: 4px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 8px 180px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: rgb(141, 139, 139);
  color: black;
} 

.banner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.banner {
  text-align: center;
}

.banner img {
  width: 100%;
  height: auto;
}



.rodape{
background-color: white;



}

