


body{
    background-color: #000000;
    text-align: center;
    font-family: 'Righteous', cursive;
    margin: 145px -0px 0px -100px;
    
    
}

:root{
    --cor-fundo: #d3d3d3;
    --cor-texto: #000000;
    --cor-click: yellow;
    --text-color:#ffffff;
    --text-color2:#9C9A9A;
    --bg-color:#CCCCCC;
    --main-color:#427BED;
    --second-color:#FFFFFF;
    --other-color:#868686;
    --icon-color:#7f71eb;
    --big-font:5.5rem;
    --p-font:1.2rem;
    
}

.header-Logo{
    position:absolute;
    top:12%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color: #000000;
    border-radius: 800px;
   
    
    
}

header{
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin: -30px;
    list-style: none;
}

header a{
    overflow: clip;
}







.naviliste{
    position:absolute;
    top:-10%;
    left:19%;
    transform:translate(-50%, -50%);
    display: flex;
    

}
.navilistd{
    position:absolute;
    top:-10%;
    left:79%;
    transform:translate(-50%, -50%);
    display: flex;
    
  

}

.navilistd a{
font-size: var(--p-font);
color: var(--text-color);
font-weight: 600;
margin: 0 70px 130px;
text-decoration: none;


}
.naviliste a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    margin: 0 70px 130px;
    text-decoration: none;
    
    
    }




i{
    color: #FCB827;
    font-size: 100px;
    padding-top: 25px;
    padding-left: 75px;
}


main{
    padding-top: 500px;
    background-color: var(--cor-fundo);
    border-radius: 1%;
    box-shadow:  0px 8px 1.5px #ffffff;
    border: #ffffff;
    
}

.box{
    
    border-radius: 1%;
    padding-top: 380px;
    transition: all ease .55s;
    transition: all ease .2s;
}

.box img{
    transform: translateY(-5px) scale(1.1);
    transform: rotateX('10');
}

.box:hover{
    transform: translateY(-5px) scale(1.1);
    transform: rotateX('10');
    color: #fcfcfc;
}


.container{
    background-color: #000000;
    color: var(--cor-fundo);
    
}

.btn-gradient {
    width: auto;
    font-size: 1em;
    padding: 12px 25px;
    border: none;
    outline: none;
    background: #111111;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
    z-index: 0;
    border-radius: 50px;
}
.btn-gradient::before {
 
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(124deg,  #adadad,#fcfcfc);
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  animation: move 10s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 45px;
}
.btn-gradient:hover::before { opacity: 1; }
.btn-gradient::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #242424;
  left: 0;
  top: 0;
  border-radius: 50px;
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-analogic {
    z-index: 1;
    position: absolute;
    width: 20%;
    top: 60%;
    left: 8%;
    bottom: -60%;
    border-radius: 50%;
    outline: 4.5px solid #8CBDFA;
    filter: drop-shadow(0 0 150px #8BBBFA);
  }
  
  .button-arrows {
    z-index: 2;
    position: absolute;
    top: 40%;
    width: 17%;
    left: 9%;
    bottom: -85%;
    border-radius: 50%;
    outline: 4.5px solid #8CBDFA;
    filter: drop-shadow(0 0 100px #ffffff);
  }
  
  .button-forms{
    z-index: 3;
    position: absolute;
    top: 40%;
    width: 14%;
    left: 24.5%;
    bottom: -72%;
    border-radius: 50%;
    outline: 4.5px solid #8CBDFA;
    filter: drop-shadow(0 0 100px #ffffff);
  }