:root {
  --cor-fundo: rgb(232, 236, 236);
  --cor-texto: #000000;
  --text-color: #ffffff;
  --text-color2: #9C9A9A;
  --bg-color: #CCCCCC;
  --main-color: #427BED;
  --second-color: #FFFFFF;
  --other-color: #868686;
  --icon-color: #7f71eb;
  --big-font: 5.5rem;
  --p-font: 1.2rem;
}

body {
  background-color: #000000;
  text-align: center;
  font-family: 'Righteous', cursive;
  margin-top: 125px;
  margin-left: 0px;
}

header {
  max-width: 100%;
  height: auto;
  padding: 0px;
  margin: -30px;
  list-style: none;
}

.header-Logo {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border-radius: 800px;
}

header a {
  overflow: clip;
}

main {
  padding-top: 170px;
  background-color: var(--cor-fundo);
  width: 100%;
  border: #ffffff;
}

.navilistd {
  /*nav-direita*/
  position: absolute;
  top: -10%;
  left: 79%;
  transform: translate(-50%, -50%);
  display: flex;
}

.navilistd a {
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 600;
  margin: 0 70px 130px;
  text-decoration: none;
}

.naviliste {
  /*nav-esquerda*/
  position: absolute;
  top: -10%;
  left: 19%;
  transform: translate(-50%, -50%);
  display: flex;
}

.naviliste a {
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 600;
  margin: 0 70px 130px;
  text-decoration: none;
}

.box {
  border-radius: 1%;
  padding-top: 380px;
  transition: all ease .55s;
  transition: all ease .2s;
}

.box img {
  transform: translateY(-5px) scale(1.1);
  transform: rotateX('10');
}

.box:hover {
  transform: translateY(-5px) scale(1.1);
  transform: rotateX('10');
  color: #fcfcfc;
}

.container {
  background-color: #000000;
  color: var(--cor-fundo);
}

.slider {
  margin: 0 auto;
  width: 950px;
  height: 150px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 1000px;
}

.manual-navigation {
  position: absolute;
  width: 1000px;
  margin-top: -390px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #3a3838;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  box-shadow: white 40px;
  filter: blur(1px);
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fcfbfd;
  box-shadow: white 40px;
  filter: blur(1px);
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

.navigation-auto div {
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 1000px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: #ffffff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: #ffffff;
}

.grid-card {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  column-gap: 20px;
  background-color: rgb(232, 236, 236);
  border-radius: 10px;
  margin-top: 10px;
}

.grid-item-1 {
  grid-column: 1 / span 2;
  margin-top: 100px;
}

.grid-item-4 {
  grid-column: 1 / span 3;
  margin: 100px;
}

.h1 {
  margin-top: 150px;
}